.App {
  text-align: left;
}


.create {
  border: 1px solid gainsboro; 
  background-color: rgb(250, 248, 248);
  padding: 1em;
  margin-top: 20px;
}

.cardList {
  width:100%; 
  display: flex; 
  flex-wrap: wrap;
}

.card {
  border: 1px solid gainsboro; 
  background-color: rgb(250, 248, 248);
  padding: 1em;
  margin: 5px; 
  width: 150px; 
}

.cardItem {
  width:100%; 
}

.cardItem > img {
  width : 150px; 
}

.cardItemName {
  width:100%;
  padding-top: 3px;
  padding-bottom: 3px; 
}

.cardDelete {
  width: 20px;
  background-color: grey; 
  text-align: center;
  margin-left: auto; 
  margin-right: 0; 
}

input {
  width: 100%;
}


input[type="submit"] {
  background-color: yellowgreen;
  border: none;
  color: black;
  padding: 7px;
  width: 100px;
}